.example::-webkit-scrollbar {
  display: none;
}

.display-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.container {
  margin-top: 50px;
  height: 900px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.channel-header {
  text-align: center;
  color: grey;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 0px;
}

.channel-list {
  width: 20%;
  overflow: scroll;
  background-color: white;
  border: 1px solid #f5f5f5;

}

.channel-name {
  background-color: white;
  margin-bottom: 0;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 65px;
  text-align: center;
  color: black;
  font-weight: 500;
  border-bottom: 3px #f5f5f5 solid;
}

.group-name {
  background-color: white;
  color: black;
  border-bottom: 1px grey solid;
  padding-left: 40px;
  margin-top: 0px;
  height: 53px;
  align-items: center;
  margin-bottom: 10px;
}

.call-btn {
  margin-left: 10px;
  border-radius: 50%;
  background-color: black;
  color: white;
  border-style: none;
}

.msg-container {
  width: 80%;
  background-color: #f4f4f4;
  border-left: 1px black solid;
}

.messages {
  overflow: scroll;
  height: 750px;
  margin-bottom: 5px;
  padding-left: 30px;
}

.receiving-msg {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 15px;
  background-color: #bebebe;
  align-self: flex-start;
}

.sending-msg {
  background-color: #007ed4;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: flex-end;
  margin-right: 40px;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
}

.input-msg {
  padding-left: 10px;
}

.msg-input-box {
  border-style: none;
  height: 60px;
  width: 90%;
  border-radius: 10px;
}

.send-btn {
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-left: 5px;
}
