.example::-webkit-scrollbar {
  display: none;
}

.display-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.container {
  margin-top: 50px;
  height: 500px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.channel-header {
  text-align: center;
  color: cadetblue;
  border-bottom: 1px solid lightgrey;
}

.channel-list {
  width: 20%;
  overflow: scroll;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #f5f5f5;

}

.channel-name {
  background-color: white;
  margin-bottom: 0;
  margin-top: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: black;
  border-bottom: 1px #f5f5f5 solid;
}

.group-name {
  background-color: cadetblue;
  color: white;
  margin-top: 0px;
  justify-content: center;
  border-radius: 5px;
  height: 55px;
  align-items: center;
  margin-bottom: 10px;
}

.call-btn {
  margin-left: 10px;
  border-radius: 50%;
  background-color: black;
  color: white;
  border-style: none;
}

.msg-container {
  width: 60%;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.messages {
  overflow: scroll;
  height: 380px;
  margin-bottom: 5px;
  padding-left: 30px;
}

.single-msg {
  background-color: #330066;
  color: white;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  /* padding-top: 2px;
  padding-bottom: 3px; */
  border-style: none;
  font-weight: lighter;
}

.input-msg {
  padding-left: 10px;
}

.msg-input-box {
  border-style: none;
  height: 30px;
  width: 300px;
  border-radius: 10px;
}

.send-btn {
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-left: 5px;
}
